[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "addreg"]
	path = addreg
	url = https://github.com/mdonoghoe/addreg
[submodule "glm2"]
	path = glm2
	url = https://github.com/mdonoghoe/glm2
[submodule "logbin"]
	path = logbin
	url = https://github.com/mdonoghoe/logbin
