[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "addreg"]
	path = addreg
	url = https://github.com/mdonoghoe/addreg
	shallow = true
	registered = true
[submodule "logbin"]
	path = logbin
	url = https://github.com/mdonoghoe/logbin
	shallow = true
	registered = true
